{% comment %}
This file contains navigation data for the site
{% endcomment %}

{% assign frontend_pages = site.pages | where_exp: "page", "page.url contains '/frontend/'" | sort: "url" %}
{% assign leetcode_pages = site.pages | where_exp: "page", "page.url contains '/leetcode/'" | sort: "url" %}
{% assign theory_pages = site.pages | where_exp: "page", "page.url contains '/theory-and-visuals/'" | sort: "url" %}

{% assign all_content_pages = frontend_pages | concat: leetcode_pages | concat: theory_pages %}

{% comment %}
Frontend categories
{% endcomment %}
{% assign js_pages = frontend_pages | where_exp: "page", "page.url contains '/javascript/'" %}
{% assign react_pages = frontend_pages | where_exp: "page", "page.url contains '/react/'" %}
{% assign css_pages = frontend_pages | where_exp: "page", "page.url contains '/html-css/'" %}
{% assign typescript_pages = frontend_pages | where_exp: "page", "page.url contains '/typescript/'" %}
{% assign system_design_pages = frontend_pages | where_exp: "page", "page.url contains '/system-design/'" %}
{% assign performance_pages = frontend_pages | where_exp: "page", "page.url contains '/performance/'" %}
{% assign security_pages = frontend_pages | where_exp: "page", "page.url contains '/security/'" %}
{% assign testing_pages = frontend_pages | where_exp: "page", "page.url contains '/testing/'" %}
{% assign accessibility_pages = frontend_pages | where_exp: "page", "page.url contains '/accessibility/'" %}
{% assign coding_problems = frontend_pages | where_exp: "page", "page.url contains '/coding-problems/'" %}

{% comment %}
Algorithm categories
{% endcomment %}
{% assign array_problems = leetcode_pages | where_exp: "page", "page.url contains '/array/'" %}
{% assign string_problems = leetcode_pages | where_exp: "page", "page.url contains '/string/'" %}
{% assign linked_list_problems = leetcode_pages | where_exp: "page", "page.url contains '/linked-list/'" %}
{% assign tree_graph_problems = leetcode_pages | where_exp: "page", "page.url contains '/tree-graph/'" %}
{% assign dp_problems = leetcode_pages | where_exp: "page", "page.url contains '/dp/'" %}
{% assign backtracking_problems = leetcode_pages | where_exp: "page", "page.url contains '/backtracking/'" %}
{% assign sorting_problems = leetcode_pages | where_exp: "page", "page.url contains '/sorting-searching/'" %}
{% assign other_problems = leetcode_pages | where_exp: "page", "page.url contains '/others/'" %}
{% assign design_problems = leetcode_pages | where_exp: "page", "page.url contains '/design/'" %}
{% assign math_problems = leetcode_pages | where_exp: "page", "page.url contains '/math/'" %}